<div class="container">
        <div class="row">
          <h1>
            {{title}}
          </h1>
        </div>
        <div class="row">
          <span>
            This is a project that aims to improve upon the classic slider in situations where the range of data is very large. For example, the following slider has a range of 2500; try setting it to 1234. Difficult, right?
          </span>
        </div>
        <div class="row align-items-center">
          <div class="col-md-10 vertical-center">
            <aps-responsive-slider class="slider basic-slider" [minValue]="0" [maxValue]="2500" [initialValue]="0" [handleWidth]="30" [trackHeight]="12"
            [bottomColour]="'green'" [middleColour]="'green'" [topColour]="'green'" (valueChanged)="onBasicValueChange($event)"></aps-responsive-slider>
          </div>
          <div class="col-md-2">
            <input value="{{basicSliderVal}}" />
          </div>
        </div>
        <div class="row">
          <span>
            Now try doing the same with the precision slider below. Get the slider handle to roughly the desired value, then drag downwards. This will "focus" the range of the slider, making it easier to hit the correct value. (It's easier to understand if you just try it out!)
          </span>
        </div>
        <div class="row align-items-center">
          <div class="col-md-10">
            <aps-precision-slider class="slider precision-slider" [minValue]="0" [maxValue]="2500" [initialValue]="0" [handleWidth]="30" [focusOffsetThreshold]="36" [focusRate]="10" [trackHeight]="16"
            [focusMinRange]="0.05" (valueChanged)="onPrecisionValueChange($event)" [selectableColour]="'orange'" [nonSelectableColour]="'gainsboro'" [handleFill]="'black'"></aps-precision-slider>
          </div>
          <div class="col-md-2">
            <input value="{{precisionSliderVal}}" />
          </div>
        </div>
        <div class="row">
          <span>
            Hopefully that was a lot easier. You can also change the focus rate if you want even more precision!
          </span>
          <br>
          <br>
          <span>
            You can also have a non-responsive slider. Type a value between 0 and 2500 in the input below to update the value of the slider.
          </span>
        </div>
        <div class="row align-items-center">
          <div class="col-md-2">
            <input [(ngModel)]="dummySliderVal" />
          </div>
          <div class="col-md-10 vertical-center">
            <aps-slider class="slider" [minValue]="0" [maxValue]="2500" [initialValue]="0" [value]="dummySliderVal" [handleWidth]="30" [trackHeight]="12"
            [bottomColour]="'red'" [middleColour]="'red'" [topColour]="'red'"></aps-slider>
          </div>
        </div>
      </div>