<div (mouseOutside)="onMouseOutside($event)">
    <slider class="baseSlider" [minValue]="minValue" [maxValue]="maxValue" [initialValue]="initialValue" [handleWidth]="handleWidth" [value]="value"
        [bottomColour]="nonSelectableColour" [middleColour]="selectableColour" [topColour]="nonSelectableColour"
        [bottomFlexGrow]="baseBottomFlexGrow" [middleFlexGrow]="baseMiddleFlexGrow" [topFlexGrow]="baseTopFlexGrow"></slider>
    <responsive-slider class="focusSlider" (mousedown)="onFocusMouseDown($event)" (valueChanged)="onPrecisionValueChange($event)" [style.margin-top]="focusMarginTopCss" [style.opacity]="reponsiveSliderOpacity"
        [minValue]="precisionMinValue" [maxValue]="precisionMaxValue" [initialValue]="initialValue" [handleWidth]="handleWidth" [verticalOffset]="dragDistance"
        [bottomColour]="selectableColour" [middleColour]="selectableColour" [topColour]="selectableColour"></responsive-slider>
</div>