.container {
    display: block;
    cursor: pointer;
}

.slider-bar {
    display: flex;
}

.slider-section {
    height: 12px;
}

.top-section {
    background: green;
    flex-grow: 100;
}

.middle-section {
    background: orange;
    flex-grow: 480;
}

.bottom-section {
    background: red;
    flex-grow: 300;
}

.slider-handle {
    position: absolute;
    width: 30px;
    height: 30px;
}